
.form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.form button {
  margin: 0 10px;
}
.form input {
  margin-left: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
}
table td button {
  margin: 0 5px;
}
table {
  width: 100%;
}
th, td {
  padding: 8px;
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-self: center;
}
@media(max-width: 1024px) {
  .action--cta {
    display: flex;
  }
  .responsive {
    overflow: auto;
  }
  .form {
    flex-direction: column;
  }
}
